body {
    height: 2000px;
    background-color: rgba(158, 156, 156, 0.575);
}

.logos {
    margin-left: 10px;
    background-color: red !important;
    border-color: white !important;
}

.desktop-nav .navbar-brand {
    color: gray !important;
    padding-top: 29px;
    font-size: 32px;
}

.fa-user-circle {
    color: gray !important;
    position: absolute;
    left: 77% !important;
    top: 43% !important;
}

.nav-item .nav-link {
    margin-left: 16px;
    color: gray !important;
}

.mobile-nav {
    display: none;
}

@media only screen and (max-width: 768px) {
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        display: block;
    }
}

.findd {
    font-size: 55px;
    color: #ffffff;
    margin-top: 0;
}

.offer {
    font-size: 18px;
}

.fixed {
    position: fixed;
    width: 100%;
    background-color: white !important;
    top: 0;
    -webkit-transition: 0s;
    transition: 0s;
    left: 0;
    z-index: 99999;
}

.fixed .desktop_nav-links li a,
.fixed .dropdown .first_a {
    color: white !important;
    font-family: 'Montserrat', sans-serif;
}

#menu {
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: #b81568;
    display: block;
    border-radius: 10px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

#bar1 {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
}

#bar3 {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}

.nav li a {
    color: #fff;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
}

.nav li {
    padding: 16px 0;
}

.nav {
    padding: 0;
    margin: 0 20px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    display: none;
}

.menu-bg,
#menu-bar {
    top: 0;
    left: 0;
    position: absolute;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    background: radial-gradient(circle, #e94498, #b81568);
    border-radius: 50%;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

#menu-bar {
    z-index: 2;
}

.change-bg {
    width: 777px;
    height: 777px;
    -webkit-transform: translate(-60%, -30%);
    transform: translate(-60%, -30%);
}

.change .bar {
    background-color: white;
}

.change #bar1 {
    -webkit-transform: translateY(4px) rotateZ(-45deg);
    transform: translateY(4px) rotateZ(-45deg);
}

.sasw_list .search_area input {
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    font-size: 14px;
    font-family: "Nunito";
    color: #484848;
    line-height: 1.2;
    height: 52px;
    padding-left: 20px;
}

.sidebar_listing_list {
    border: 1px solid #ebebeb;
    border-radius: 8px;
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
}

.sasw_list .search_area input {
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    font-size: 14px;
    font-family: "Nunito";
    color: #484848;
    line-height: 1.2;
    height: 52px;
    padding-left: 10px;
}

.sasw_list .search_area label {
    font-size: 18px;
    position: absolute;
    right: 40px;
    top: 30px;
}

.ikonka {
    font-size: 18px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.search_option_two {
    height: 50px;
    width: 100px;
    margin-bottom: 20px !important;
}

.show-tick {
    height: 50px !important;
    width: 220px !important;
    border-style: none;
}

.dropdown-menu {
    max-height: 301px;
    overflow: hidden;
    min-height: 122px;
    position: absolute;
    -webkit-transform: translate3d(0px, 52px, 0px);
    transform: translate3d(0px, 52px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
}

.resultfalan {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: white;
    padding: 1rem 1rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #d3c8c8;
}

.accordion-toggle {
    font-size: 20px;
    color: gray;
}

.accordion-toggle:hover {
    color: gray;
}

.btn-thm {
    background-color: #ff5a5f;
    border: 2px solid #ff5a5f;
    border-radius: 5px;
    color: #ffffff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sasw_list .search_area textarea {
    border: 1px solid #ebebeb;
    border-radius: 8px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    line-height: 2.2;
}

.change #bar3 {
    -webkit-transform: translateY(-6px) rotate(45deg);
    transform: translateY(-6px) rotate(45deg);
}

.sl_creator .media-body h5 {
    font-size: 16px;
    font-family: "Nunito";
    color: #484848;
    font-weight: bold;
    line-height: 1.2;
}

.change #bar2 {
    opacity: 0;
}

.change {
    display: block;
}

.sekil {
    margin-left: 15%;
    margin-top: 4%;
    -webkit-text-decoration-color: gray;
    text-decoration-color: gray;
}

.condition {
    background-color: #ffffff !important;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    margin-bottom: 30px !important;
    padding: 20px 20px 20px !important;
    position: relative;
    margin-top: 20px;
}

.feature {
    background-color: #ffffff !important;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    margin-bottom: 30px !important;
    padding: 20px 20px 20px !important;
    position: relative;
    margin-top: 20px;
}

.mb25 {
    margin-bottom: 25px !important;
}

.mt50 {
    margin-top: 50px;
}

.ag {
    background-color: white;
}

.single_property_social_share.style2 {
    position: absolute;
    right: 30px;
}

.yazilari li a {
    color: #484848;
    font-size: 14px;
    font-family: "Nunito";
    color: rgb(72, 72, 72);
    line-height: 1.2;
}

.yazilari li {
    border-radius: 8px;
    background-color: rgb(247, 247, 247);
    height: 40px;
    padding: 6px 25px;
    text-align: center;
}

.listing_single_description {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(235, 235, 235);
    padding: 30px;
}

.detallarinsozleri {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(235, 235, 235);
    padding: 30px;
    position: relative;
}

.detallarwords {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(235, 235, 235);
    padding: 30px;
    position: relative;
}

.detallarwords ul li p span {
    font-size: 14px;
    font-family: "Nunito";
    color: rgb(72, 72, 72);
    font-weight: bold;
    line-height: 2.857;
}

.detallarinsozleri ul li p {
    font-size: 14px;
    font-family: "Nunito";
    color: rgb(72, 72, 72);
    line-height: 2.857;
    margin-bottom: 0;
}

.detallarinsozleri ul li p span {
    font-size: 14px;
    font-family: "Nunito";
    color: rgb(72, 72, 72);
    font-weight: bold;
    line-height: 2.857;
}

.xerite {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 30px;
    position: relative;
    margin-top: 30px;
}

.property_video {
    padding: 30px;
    position: relative;
}

.salamss {
    color: white !important;
    border: none;
    font-size: 18px;
    font-family: "Nunito";
    color: #484848;
    font-weight: bold;
    line-height: 1.2;
    padding: .5rem 0;
}

.salamss:hover {
    color: red !important;
}

.list {
    display: flex;
    list-style: none;
    color: red !important;
}

.shop_single_tab_content {
    background-color: #ffffff;
    border-bottom: 1px solid #ebebeb;
    border-radius: 8px;
}

.property_video .thumb .overlay_icon a {
    background-color: rgb(255, 90, 95);
    border-radius: 50%;
    color: #ffffff;
    font-size: 22px;
    height: 70px;
    left: 0;
    line-height: 70px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 40%;
    width: 70px;
    z-index: 99;
}

.planhisse {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 30px;
    position: relative;
}

.item1 {
    font-size: 16px;
    font-family: "Nunito";
    color: #484848;
    font-weight: bold;
}

.statistikalist li a {
    color: gray !important;
}

.statistikahisse {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 30px;
    position: relative;
}

.fa-check-circle {
    color: red !important;
}

.single_property_social_share h2 {
    font-size: 30px;
    font-family: "Nunito";
    color: rgb(72, 72, 72);
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
}

.listing_single_description2 {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(235, 235, 235);
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    position: relative;
    display: flex;
    padding: 30px;
}

.sidebar_listing_list {
    border: 1px solid #ebebeb;
    border-radius: 8px;
    background-color: #ffffff;
    margin-bottom: 30px;
    padding: 30px;
}

.fa-user {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 30px;
    color: gray;
    background-color: white;
}

.p0 {
    padding: 0 !important;
}

.acilanhisse {
    height: 960px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(7, 7, 7, 0.803);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1050;
    -webkit-transition: display 2s ease;
    transition: display 2s ease;
}

.window {
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    background-color: white;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(128, 128, 128, 0.783);
    box-shadow: 0px 0px 7px 0px rgba(128, 128, 128, 0.783);
    padding: 1rem;
    position: relative;
}

.head-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0;
}

.head-ul li:first-child {
    width: 50%;
    text-align: center;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 3px;
}

.head-ul li:last-child {
    width: 50%;
    text-align: center;
    list-style: none;
    background-color: transparent;
    border-radius: 3px;
}

.head-ul li a {
    display: inline-block;
    color: black;
    height: 70px;
    line-height: 70px;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    margin-bottom: 1.5rem;
}

.fb {
    width: 100%;
    height: 52px;
    font-size: 13px;
    position: relative;
    margin-bottom: 20px;
}

.fa-facebook-f,
.fa-google {
    position: absolute;
    left: 5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.login-hr {
    position: relative;
    margin: 24px 0;
}

.login-hr::before {
    content: "Or";
    background-color: white;
    color: #006c70;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    right: 0;
    text-align: center;
    top: -12px;
    width: 10%;
}

.input-login,
.input-ps {
    position: relative;
    margin-bottom: 20px;
}

.input-login input,
.input-ps input {
    width: 100%;
    height: 52px;
    border-radius: 5px;
    border: 1px solid #cdc8c8;
    font-size: 14px;
    padding-left: 5px;
    outline: none;
}

.input-login .fa-user,
.input-ps .fa-unlock-alt {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 2%;
    font-size: 14px;
}

.remember-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 1.85rem;
    font-weight: 300;
}

.qapananhisse {
    height: 50px;
    width: 50px;
    background-color: #ff5a5f;
    color: white;
    position: absolute;
    border-radius: 50%;
    line-height: 50px;
    top: -3%;
    right: -2%;
    cursor: pointer;
}

.qapananhisse .fa-times {
    pointer-events: none;
    cursor: default;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
    .window {
        position: absolute;
        top: 12%;
    }
}

.footerhisse {
    background-color: #24324a;
}

.sosial {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 25px;
}

.uc {
    font-size: 14px;
    font-family: "Nunito";
    color: #8a99b3;
    line-height: 2.429;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.uc:hover {
    color: white;
}

.dord {
    font-size: 14px;
    font-family: "Nunito";
    color: #8a99b3;
    line-height: 2.5;
}

.btn-primary {
    background-color: #354765 !important;
    border: 1px solid #354765 !important;
    border-radius: 50%;
    height: 50px !important;
    width: 50px !important;
}

.salams {
    background-color: #354765 !important;
    border: 1px solid #354765;
    border-radius: 25px;
    color: #354765 !important;
    height: 50px;
    padding-left: 30px;
}

.salams:hover {
    background-color: #354765 !important;
}

.footerarea {
    background-color: #1a263a;
}

.bes {
    color: gray;
}

.bes:hover {
    color: white;
}

.buttonka:hover {
    background-color: white !important;
}

.buttonka {
    border-radius: 8px;
    background-color: #ff787c;
    height: 60px;
    line-height: 50px;
    width: 200px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: white !important;
}