body {
    height: 2000px;
    background-color: #f7f7f7;
}

.logos {
    margin-left: 10px;
    background-color: red !important;
    border-color: white !important;
}

.desktop-nav {
    .navbar-brand {
        color: gray !important;
        padding-top: 29px;
        font-size: 32px;
    }
}

.fa-user-circle {
    color: gray !important;
    position: absolute;
    left: 77% !important;
    top: 43% !important;
}

.nav-item {
    .nav-link {
        margin-left: 16px;
        color: gray !important;
    }
}

.mobile-nav {
    display: none;
}

@media only screen and (max-width: 768px) {
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        display: block
    }
}

.findd {
    font-size: 55px;
    color: #ffffff;
    margin-top: 0;
}

.offer {
    font-size: 18px;
}

.fixed {
    position: fixed;
    width: 100%;
    background-color: white !important;
    top: 0;
    transition: 0s;
    left: 0;
    z-index: 99999;
}

.fixed .desktop_nav-links li a,
.fixed .dropdown .first_a {
    color: white !important;
    font-family: 'Montserrat', sans-serif;
}

#menu {
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: #b81568;
    display: block;
    border-radius: 10px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav li a {
    color: #fff;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
}

.nav li {
    padding: 16px 0;
}

.nav {
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}

.menu-bg,
#menu-bar {
    top: 0;
    left: 0;
    position: absolute;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    background: radial-gradient(circle, #e94498, #b81568);
    border-radius: 50%;
    transition: 0.3s ease;
}

#menu-bar {
    z-index: 2;
}

.change-bg {
    width: 777px;
    height: 777px;
    transform: translate(-60%, -30%);
}

.change .bar {
    background-color: white;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
    transform: translateY(-6px) rotate(45deg);
}

.change #bar2 {
    opacity: 0;
}

.change {
    display: block;
}

.sekil {
    margin-left: 15%;
    margin-top: 4%;
    text-decoration-color: gray;
}

.ag {
    background-color: white;
}

.fa-user {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 30px;
    color: gray;
    background-color: white;
}

.umumikartinka {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
}

.agentsek {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
}

.agent1 {
    max-width: 100% !important;
}

.listin {
    position: absolute;
    left: 12px !important;
    top: 10px !important;
    list-style: none;
    padding-top: 10px;
}

.listinli {
    background-color: #ff5a5f !important;
    margin-right: 0 !important;
    border-radius: 3px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 75px;
}

.listina {
    color: white;
}

.chris {
    font-size: 18px;
    font-family: "Nunito";
    color: #484848;
    font-weight: bold;
    line-height: 1.2;
}

.text-thm {
    color: #ff5a5f !important;
}

.mezmun3 {
    font-size: 17px;
    font-family: "Nunito";
    color: #484848;
    line-height: 1.2;
}

.elaqeagent {
    border-top: 1px solid #eeeeee;
    display: inline-block;
    padding: 20px;
    position: relative;
    width: 100%;
}

.ikons {
    color: gray;
}

.umumikartinka {
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
}

.chriselaqe {
    border: 1px solid rgb(235, 235, 235);
    border-radius: 8px;
    background-color: #ffffff !important;
    margin-bottom: 30px !important;
    padding: 30px !important;
}

.qirm {
    height: 50px;
    background-color: #ff5a5f;
    border: 2px solid #ff5a5f;
    border-radius: 5px;
    color: #ffffff;
}

.qirm:hover {
    background-color: white;
}

.condition {
    background-color: #ffffff !important;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    margin-bottom: 30px !important;
    padding: 20px 20px 20px !important;
    position: relative;
    margin-top: 20px;
}

.feature {
    background-color: #ffffff !important;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    margin-bottom: 30px !important;
    padding: 20px 20px 20px !important;
    position: relative;
    margin-top: 20px;
}

.align-self-start {
    max-width: 100% !important;
}

.footerhisse {
    background-color: #24324a;
}

.sosial {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 25px;
}

.uc {
    font-size: 14px;
    font-family: "Nunito";
    color: #8a99b3;
    line-height: 2.429;
    transition: all 0.3s ease 0s;
}

.uc:hover {
    color: white;
}

.dord {
    font-size: 14px;
    font-family: "Nunito";
    color: #8a99b3;
    line-height: 2.5;
}

.btn-primary {
    background-color: #354765 !important;
    border: 1px solid #354765 !important;
    border-radius: 50%;
    height: 50px !important;
    width: 50px !important;
}

.salams {
    background-color: #354765 !important;
    border: 1px solid #354765;
    border-radius: 25px;
    color: #354765 !important;
    height: 50px;
    padding-left: 30px;
}

.salams:hover {
    background-color: #354765 !important;
}

.footerarea {
    background-color: #1a263a;
}

.bes {
    color: gray;
}

.bes:hover {
    color: white;
}

.nav2 {
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: flex;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.vizitka2 .nav-tabs .nav-link {
    border: none;
    font-size: 18px;
    font-family: "Nunito";
    color: #484848;
    font-weight: bold;
    line-height: 1.2;
    padding: .5rem 0;
}

#description-tab:hover {
    color: red !important;
}

.clickb {
    background-color: white !important;
    border: 1px solid #354765 !important;
    border-radius: 80%;
    height: 50px !important;
    width: 120px !important;
}

.clickb:hover {
    color: red !important;
}