body {
  height: 2000px;
  background-color: rgba(158, 156, 156, 0.575);
}

.logos {
  margin-left: 10px;
  background-color: red !important;
  border-color: white !important;
}

.desktop-nav .navbar-brand {
  color: gray !important;
  padding-top: 29px;
  font-size: 32px;
}

.fa-user-circle {
  color: gray !important;
  position: absolute;
  left: 77% !important;
  top: 43% !important;
}

.nav-item .nav-link {
  margin-left: 16px;
  color: gray !important;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 768px) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}

.findd {
  font-size: 55px;
  color: #ffffff;
  margin-top: 0;
}

.offer {
  font-size: 18px;
}

.fixed {
  position: fixed;
  width: 100%;
  background-color: white !important;
  top: 0;
  -webkit-transition: 0s;
  transition: 0s;
  left: 0;
  z-index: 99999;
}

.fixed .desktop_nav-links li a,
.fixed .dropdown .first_a {
  color: white !important;
  font-family: 'Montserrat', sans-serif;
}

#menu {
  width: 35px;
  height: 30px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #b81568;
  display: block;
  border-radius: 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#bar1 {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

#bar3 {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.nav li a {
  color: #fff;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.nav li {
  padding: 16px 0;
}

.nav {
  padding: 0;
  margin: 0 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: none;
}

.menu-bg,
#menu-bar {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  background: radial-gradient(circle, #e94498, #b81568);
  border-radius: 50%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#menu-bar {
  z-index: 2;
}

.change-bg {
  width: 777px;
  height: 777px;
  -webkit-transform: translate(-60%, -30%);
          transform: translate(-60%, -30%);
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  -webkit-transform: translateY(4px) rotateZ(-45deg);
          transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
}

.change #bar2 {
  opacity: 0;
}

.change {
  display: block;
}

.sekil {
  margin-left: 15%;
  margin-top: 4%;
  -webkit-text-decoration-color: gray;
          text-decoration-color: gray;
}

.ag {
  background-color: white;
}

.fa-user {
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 30px;
  color: gray;
  background-color: white;
}

.breadtext {
  margin-bottom: 40px;
}

.breadblog {
  font-size: 28px;
}

section {
  padding: 60px 0;
  position: relative;
}

.qaradi {
  color: gray !important;
  font-size: 20px;
  text-decoration: none;
}

.redtext {
  color: red !important;
  font-size: 20px;
}

.breadyazi {
  margin-right: 6%;
}

.breadblog {
  margin-left: 5%;
}

.blog1 {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
}

.blogpart .sekil {
  background-color: #1d293e;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin: 10px 10px 0 10px;
  position: relative;
}

.imgd {
  width: 100% !important;
}

img {
  max-width: 100%;
}

.const {
  background-color: #ff5a5f;
  border-radius: 3px;
  color: #fefefe;
  font-family: "Nunito";
  font-size: 14px;
  height: 25px;
  line-height: 25px;
  left: 10px;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 110px;
}

.umumiblog .soz {
  position: relative;
}

.sozler2 {
  font-size: 17px;
  font-family: "Nunito";
  color: #484848;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 20px;
  margin-left: 10px;
}

.sozler3 {
  font-size: 14px;
  font-family: "Nunito";
  color: #484848;
  line-height: 1.6;
  margin-bottom: 0;
}

.sonluq {
  border-top: 1px solid #eeeeee;
  display: inline-block;
  padding: 20px;
  position: relative;
  width: 100%;
}

.hey {
  font-size: 14px;
  font-family: "Nunito";
  color: #777777;
  line-height: 1.2;
}

.balacasekil {
  max-width: 100%;
}

.readm {
  color: red !important;
}

.fp_meta {
  margin-bottom: 0% !important;
  margin-right: 0% !important;
}

.list-inline-item {
  margin-right: 10px;
}

.float-left {
  float: left !important;
}

.mbp_pagination ul.page_navigation li.page-item {
  display: inline-block;
  margin-right: 6px;
  margin-top: 12px;
}

.mbp_pagination {
  display: inline-block;
  position: relative;
  width: 100%;
}

.page_navigation {
  margin-left: 15%;
}

.align-self-start {
  max-width: 100% !important;
}

.search1 {
  border: 1px solid #ebebeb;
  border-radius: 8px;
  background-color: #ffffff;
  margin-bottom: 30px;
  padding: 30px;
}

.salamla {
  border: 1px solid #ebebeb;
  border-radius: 8px;
  background-color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 52px;
  padding-left: 20px;
  width: 100%;
}

#button-addon2 {
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  border-left: transparent !important;
  border-right: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  height: 52px;
}

.condition {
  background-color: #ffffff !important;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  margin-bottom: 30px !important;
  padding: 20px 20px 20px !important;
  position: relative;
  margin-top: 20px;
}

.feature {
  background-color: #ffffff !important;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  margin-bottom: 30px !important;
  padding: 20px 20px 20px !important;
  position: relative;
  margin-top: 20px;
}

.condition .title {
  margin-bottom: 20px;
}

.fa-caret-right {
  color: gray !important;
}

.tag {
  background-color: #ffffff !important;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  margin-bottom: 30px !important;
  padding: 20px 20px 20px !important;
  position: relative;
  margin-top: 20px;
}

.titles {
  font-size: 18px;
  font-family: "Nunito";
  color: #484848;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
}

.list-inline-items {
  border-radius: 6px;
  background-color: #e3e3e3;
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  padding: 0px 25px;
}

.footerhisse {
  background-color: #24324a;
}

.sosial {
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 25px;
}

.uc {
  font-size: 14px;
  font-family: "Nunito";
  color: #8a99b3;
  line-height: 2.429;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.uc:hover {
  color: white;
}

.dord {
  font-size: 14px;
  font-family: "Nunito";
  color: #8a99b3;
  line-height: 2.5;
}

.btn-primary {
  background-color: #354765 !important;
  border: 1px solid #354765 !important;
  border-radius: 50%;
  height: 50px !important;
  width: 50px !important;
}

.salams {
  background-color: #354765 !important;
  border: 1px solid #354765;
  border-radius: 25px;
  color: #354765 !important;
  height: 50px;
  padding-left: 30px;
}

.salams:hover {
  background-color: #354765 !important;
}

.footerarea {
  background-color: #1a263a;
}

.bes {
  color: gray;
}

.bes:hover {
  color: white;
}
